@page "/"
@using BlazorStrap.V5
@inject IBlazorStrap _blazorStrap

<PageTitle>Home</PageTitle>

<BSNav IsTabs="true">
    <BSNavItem IsActive="true">Active</BSNavItem>
    <BSNavItem IsDropdown="true">
        <BSDropdown>
            <Toggler><BSToggle IsNavLink="true">Dropdown</BSToggle></Toggler>
            <Content>
                <BSDropdownItem Url="javascript:void(0);">Action</BSDropdownItem>
                <BSDropdownItem Url="javascript:void(0);">Another action</BSDropdownItem>
                <BSDropdownItem Url="javascript:void(0);">Something else here</BSDropdownItem>
                <BSDropdownItem IsDivider="true" />
                <BSDropdownItem Url="javascript:void(0);">Separated link</BSDropdownItem>
            </Content>
        </BSDropdown>
    </BSNavItem>
    <BSNavItem>Link</BSNavItem>
    <BSNavItem IsDisabled="true">Disabled</BSNavItem>
</BSNav>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<BSInputSwitch CheckedValue="@("Vapor")" UnCheckedValue="@("Lux")" >
    Current theme is Vapor
</BSInputSwitch>
<br />
<BSTable IsResponsive="true" IsStriped="true" IsBordered="true" IsDark="true">
    <BSTHead>
        <BSTR>
            <BSTD>#</BSTD>
            <BSTD>First</BSTD>
            <BSTD>Last</BSTD>
            <BSTD>Handle</BSTD>
        </BSTR>
    </BSTHead>
    <BSTBody>
        <BSTR>
            <BSTD>1</BSTD>
            <BSTD>John</BSTD>
            <BSTD>Doe</BSTD>
            <BSTD>JohnDoe <br />media.com</BSTD>
        </BSTR>
        <BSTR>
            <BSTD>2</BSTD>
            <BSTD>Jane</BSTD>
            <BSTD>Doe</BSTD>
            <BSTD>JaneDoe <br />media.com</BSTD>
        </BSTR>
    </BSTBody>
    <BSTFoot>
        <BSTR>
            <BSTD ColSpan="4">Spanned Table Footer Here</BSTD>
        </BSTR>

    </BSTFoot>
</BSTable>

@code {
    private string? Selected { get; set; }
    private List<string> _themes = new List<string>();
    protected override void OnInitialized()
    {
        _themes = Enum.GetNames(typeof(Theme)).ToList();
    }
    protected override async Task OnAfterRenderAsync(bool firstrun)
    {
        if (firstrun)
        {
            await _blazorStrap.SetBootstrapCss("Vapor");
        }
    }
}